<h1>EJEMPLO DE ENLAZADO DE DATOS</h1>
<h4>Ingres texto a continuación</h4>
<input type="text" [(ngModel)]="data" />
<button (click)="emisor.emit(data)">Mostrar en el titulo del padre</button>
<h3>El texto ingresado es: {{data}}</h3>

@if(+data % 2 === 0) {
    <p>
        El número ingresado es par
    </p>
}

<p *ngIf="data === 'Darth Vader'" >
    Hola maestro
</p>

<br>

<ul>
    @for (item of arreglo; track $index) {
        <li (click)="mostrarMensaje(item.nombre)"> nombre: {{item.nombre}} --- ocupación: {{item.ocupacion}}</li>
    }
</ul>

<ul>
    <li *ngFor="let item of arreglo">
        nombre: {{item.nombre}} --- ocupación: {{item.ocupacion}}
    </li>
</ul>