<h1>Ejemplo formulario</h1>
<form (ngSubmit)="guardarFormulario()">
    <input type="text" [(ngModel)]="nombreEmpleado" [ngModelOptions]="{standalone: true}"/>
    <input type="text" [(ngModel)]="ocupacion" [ngModelOptions]="{standalone: true}"/>
    <button type="submit">Guardar</button>
</form>

<button (click)="guardarFormulario()">Guardar 2</button>

<br>

<ul>
    @for (item of listaEmpleados; track $index) {
        <li> Asistente # {{$index+1}}: {{item.nombre}} ---- {{item.ocupacion}}</li>
    }
</ul>

<br>
<app-listado-empleados/>
